{
  "editor.fontFamily": "Hack Nerd Font, Menlo, Monaco, 'Courier New', monospace",
  "editor.tabSize": 2,
  "window.zoomLevel": 1,
  "editor.minimap.enabled": false,
  "git.autofetch": true,
  "editor.codeLens": false,
  "explorer.confirmDragAndDrop": false,
  "editor.formatOnSave": true,
  "git.confirmSync": false,
  "files.associations": {
    "*.tf": "terraform",
    ".envrc": "Shell Script"
  },
  "editor.renderControlCharacters": true,
  "editor.renderWhitespace": "all",
  "vs-kubernetes": {
    "vs-kubernetes.draft-path": "/Users/enichols/.vs-kubernetes/tools/draft/darwin-amd64/draft",
    "vs-kubernetes.helm-path": "/Users/enichols/.vs-kubernetes/tools/helm/darwin-amd64/helm"
  }
}